html  { height: 100%; width: 100%; background-color: #EEEEEE; overflow-y:scroll; }
body { font-family: Verdana, sans-serif; font-size: 12px; color:#484848; margin: 0; padding: 0; min-width: 900px;  }
body table { width: 100%; border-collapse: collapse; }
table tr td, table tr th { vertical-align: top;  }
th { text-align: left;color: #000000; }
h1 { text-align: center; font-family: "Trebuchet MS", Verdana, sans-serif;}
h2 {  font-family: "Trebuchet MS", Verdana, sans-serif , margin-bottom;}

 .row1 { background: #000000; }
 .row2 { background: #333333; }

#header {height:5.3em;margin:0;background-color:#507AAA; color:#f8f8f8; padding: 4px 8px 0px 8px; position:relative;} 
.notice { height: 2em; color: #800000; border: 2px solid #800000; padding: .5em 1em 0 1em; font-weight: bold; }
#pagecontent { min-height: 525px; color: #DDDDDD; }
#footer {height:50px; margin:3em 0 0 0 ; padding: .5em; text-align: center; background-color:#507AAA; color:#f8f8f8; position:relative; clear: both; } 

#header a {color:#f8f8f8;}
#pagecontent h1 { color: #800000;width: 100%; background-color: #759FCF; margin: 0px; border-right: 1px solid #ddd; padding: 6px 10px 10px 10px; z-index: 10; }
a, a:visited { color: #759FCF;  }


a, a:hover { color:#fff;}
a, a.selected, {background:#999; color:#555;}